header {
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.heading {
    font: 600 4em 'PT sans', sans-serif;
}

h2.subheading {
    font: 400 2em cursive;
    font-style: italic;
}

h3.article-heading {
    font: 300 2em 'PT sans', sans-serif;
}